<br> <br>
<div class="container-lg ">


<!----------------- title-------------------------->
<div class="uk-background-muted uk-text-center 	" style="height: 80px">

  <h1 style="padding: 15px"> MISSION</h1>

</div>

<br> <br>

<div class="uk-card uk-card-default uk-card-large uk-card-body">

  <!----------------- button create position---------------->

  <i placement="top" ngbTooltip="Ajouter" class="pi pi-plus-circle"
     (click)="showAddMission()" style="float: right ; font-size: 2rem ; color: crimson"></i>

  <!----------------- list mission---------------->

  <table class="uk-table"   *ngFor="let position of positions " >

    <thead  >

    <tr >
      <th  class="uk-background-muted uk-text-danger "> <p class=" uk-text-bold">Position : {{position.namePosition}} </p></th>
    </tr>

    </thead>

    <tbody  >

    <tr   *ngFor="let mission of position.missions ">

      <td > nom de mission  :  {{mission.nameMission}}</td>

      <td>
        <i placement="top" ngbTooltip="Modifier"   (click)="showEditMission(mission)" class="pi pi-pencil" style="color: #dc143c"></i>
      </td>

    </tr>

    </tbody>

  </table>

</div>
</div>

<p-dialog [header]="title" [(visible)]="displayMissionModal" [style]="{width: '50vw'}" [baseZIndex]="10000">

  <ng-template pTemplate="body">

    <br>
    <input type="text" class="form-control padding-form  margin-button " [(ngModel)]="mission.nameMission" id="nameMission" placeholder="nameMission" name="nameMission" required >
    <br>
    <select  class="form-select form-select-sm" aria-label=".form-select-sm example"  [(ngModel)]="mission.position" >

      <option *ngFor=" let position of positions " [ngValue]="position"   >
        {{position.namePosition}}
      </option>

    </select>

  </ng-template>

  <ng-template pTemplate="footer">

    <button pButton type="button" label="Cancel"  (click)="closeMissionModal()" class="p-button-secondary"  ></button>
    <button pButton type="button" label="Save" (click)="saveMission()" class="p-button-danger"  ></button>

  </ng-template>

</p-dialog>

